.header {
    position: relative;
	top: 0px;
	width: 100vw;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.main-header {
    display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	width: 85%;
	margin: 0 auto;
}

.logo-wrapper {
    text-decoration: none;
	display: flex;
	align-items: center;
}

.logo-img {
    max-width: 4rem;
}

.logo-title {
    max-width: 8rem;
	font-size: 1.125rem;
	line-height: 1.5rem;
	font-weight: 700;
	color: var(--primary-color);
}

.logout-button {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 8px 24px;
	background-color: transparent;
	border: 2px solid #d32f2f;
	border-radius: 50px;
	color: #d32f2f;
	cursor: pointer;
	transition: all 0.3s ease;
}

.logout-button:hover {
	background-color: #d32f2f;
	color: white;
	transform: translateY(-2px);
	box-shadow: 0px 4px 8px rgba(211, 47, 47, 0.2);
}

.logout-button i {
	font-size: 1rem;
}

.logout-text {
	font-weight: 600;
	font-size: 1rem;
	font-family: sans-serif;
}
